.user-container {
  display: flex;
  padding-top: 20px;
  padding-left: 50px;
}

.user-infos-container {
  padding-top: 10px;
  margin-right: 20px;
}

.user-img {
  width: 320px;
  height: 320px;
  border-radius: 50%;
  border: none;
}

.user-name-container {
  display: flex;
  flex-direction: column;
  margin-top: 15px;
}

.user-name {
  font-size: x-large;
}

.user-login {
  font-weight: 300;
}

.user-details-container {
  padding-bottom: 20px;
  border-bottom: solid 1px gray;
}

.user-container button {
  width: 100%;
  background: transparent;
  border: 1px solid gray;
  border-radius: 5px;
  font-size: medium;
  padding: 8px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.user-followers-container {
  display: flex;
  justify-content: space-between;
  padding-bottom: 20px;
}

.repository-container {
  width: 100%;
  padding-top: 10px;
  margin-left: 20px;
}

.repository-length {
  padding-bottom: 10px;
  border-bottom: solid 2px red;
}

.repositories {
  padding-top: 50px;
}

.repository-infos {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
}

.repository-details {
  padding-bottom: 30px;
  border-bottom: solid 1px gray;
}

.repository-name {
  margin-bottom: 20px;
  font-size: large;
  font-weight: 500;
  color: rgb(0, 110, 255);
}

.repository-language {
  margin-right: 20px;
}
