.user-infos-container {
  padding-top: 10px;
  margin-right: 20px;
}

.user-img {
  width: 320px;
  height: 320px;
  border-radius: 50%;
  border: none;
}

.user-name-container {
  display: flex;
  flex-direction: column;
  margin-top: 15px;
}

.user-name {
  font-size: x-large;
}

.user-login {
  font-weight: 300;
}

.user-details-container {
  padding-bottom: 20px;
  border-bottom: solid 1px gray;
}

.user-infos-container button {
  width: 100%;
  background: transparent;
  border: 1px solid gray;
  border-radius: 5px;
  font-size: medium;
  padding: 8px;
  margin: 20px 0px 20px 0px
}

.user-followers-container {
  display: flex;
  padding-bottom: 20px;
}

.user-followers,
.user-following,
.user-stars {
  margin: 0px 5px;
  font-weight: 500;
}

.user-dot-rigth {
  margin-right: -5px;
}